:root {
  --color: rgb(95, 95, 205);
  --color-light: rgb(115, 115, 205);
  --color-lighter: rgb(145, 145, 205);
  --color-dark: rgb(75, 75, 205);
  --color-darker: rgb(45, 45, 205);

  --color-scrollbar-thumb: rgb(208, 208, 208);
  --color-scrollbar-thumb-hover: rgb(219, 219, 219);

  --vp-c-brand-1: var(--color);
  --vp-c-brand-2: var(--color-darker);
  --vp-c-brand-3: var(--color);

  /* 代码块背景 */
  --vp-code-block-bg: rgba(73, 73, 147, 0.1);

  /* 中间内容最大宽度 */
  --vp-layout-max-width: 1460px;
}


.dark {
  /* 代码块背景 */
  --vp-code-block-bg: rgba(73, 73, 147, .1);

  --color-scrollbar-thumb: rgb(126, 126, 126);
  --color-scrollbar-thumb-hover: rgb(95, 95, 95);
}

.content-container {
  max-width: 100% !important;
  padding: 0 30px;
}

table tbody tr {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* 代码块*/
.vp-doc [class*="language-"] pre {
  max-height: 500px;
}

/* 代码块滚动条*/
.vp-doc [class*="language-"] pre:hover::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* 代码块滚动条*/
.vp-doc [class*="language-"] pre::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 代码块滚动条滑块 */
.vp-doc [class*="language-"] pre::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb-hover)
}

/* 代码块滚动条滑块选中 */
.vp-doc [class*="language-"] pre::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb)
}

/* 代码块滚动条折角 */
.vp-doc [class*="language-"] pre::-webkit-scrollbar-corner {
  display: none;
}